<jhi-skt-overview-sidebar (category)="getCategory($event)"></jhi-skt-overview-sidebar>

<div>
  <div>
    <h2 id="page-heading" data-cy="SelfevaluationHeading">
      <div jhiTranslate="skilltrackerApp.selfevaluation.home.title">Selfevaluations</div>

      <div class="buttons">
        <jhi-skt-overview-team-dropdown style="float: left" (teamId)="getTeamId($event)"></jhi-skt-overview-team-dropdown>
      </div>
    </h2>

    <div *ngFor="let skill of skills">
      <jhi-skt-overview-single-skill-table
        [skillId]="skill.id"
        [teamId]="teamId"
        [skillName]="skill.name"
      ></jhi-skt-overview-single-skill-table>
    </div>
  </div>
</div>
