.tableSettings {
  border-width: 3px;
  border-style: solid;
  margin-bottom: 30px;
}

.headerSettings {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-decoration: underline;
}
